/*
 * Samuel Drozdov's Personal Website
 * Email me at samuel.drozdov@gmail.com
 */

/* universal */

html {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;

  font-family: "Avenir";
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
}

section {

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Avenir";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Link Styling */

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* */
.landing {
  display: table;
  text-align: center;
  vertical-align: middle;
  color: black;

  width: 100%;
  height: auto;
  /*background: url(images/bg.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.landing-body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media(min-width:767px) {
  .landing {
    height: 90%;
  }
}

.headshot {
  width: 100px;
  height: 100px;
  border-radius: 50px;

  border: 2px solid white;
}

/* Contact/Navbar */

.contact {
  height: 10%;
  vertical-align: middle;

  background-color: white;
  color: #212121;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.contact-name {
  padding-left: 20px;
  vertical-align: middle;
}

.contact-sources {
  padding-top: 12px;
  text-align: center;
}

.source-image {
  /*margin: 15px 0px; /*these should be vertically centered*/
  padding: 0px 5px;
}

.source-image:hover {
  -webkit-transform: scale(0.9,0.9);
  -moz-transform:scale(0.9,0.9);
}

/* Navbar */

.navbar {
  padding-top: 2px;
  vertical-align: middle;
  text-align: right;
  margin: 0px;
  padding-right: 30px;
}

.btn {
  background-color: #fafafa;
  box-shadow: 0px 0px 0px 0px white inset;
  font-family: avenir;
  font-size: 30;
  font-weight: medium;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px white inset;
  border: 0px;
}

.btn:hover {
  color: #2c87c4;
}

#name-btn {
  background-color: white;
  box-shadow: 0px 0px 0px 0px white inset;
  border: 0px;
  font-family: avenir;
  font-size: 30;
  font-weight: medium;
}

#name-btn:hover {
  color: #2c87c4;
}

.tabs {
  vertical-align: middle;
  vertical-align: center;
}

.tab {
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.tab-label {
  font-size: 16px;
  color: black;
}

.tab:hover .tab-label {
  color: #2c87c4;
}

.tabs .selected {
  border-bottom: solid lightgray 2px;
}

/* Tab Content */

.tabcontents {
  height: 90%;
}

#tabs-1 {
  background-color: #2c87c4;
  height: 100%;
}

.project-table {
  display: table;
  height: 100%;
}

.project-column {
  display: column;
  text-align: center;
  background-color: white;
  padding: 10px 50px;
  border: 5px solid #2c87c4;
  margin: 10px 0px;
  height: 100%;
  border-radius: 6px;
}

#project-list {
  list-style-type: none;
}

.project-directions {
  color: lightgray;
  padding-bottom: 20px;
}

.project {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 0px;
}

.project-list-wrapper {
  margin: 20px 0px;
}

.project-image {
  vertical-align: middle;
  width: 100%;
}

.project-slogan {
  color: gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.project-description {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

#tabs-2 {
  background-color: lightgreen;
  height: 100%;
}

.education-table {
  display: table;
  height: 100%;
}

.education-column {
  display: column;
  text-align: center;
  background-color: white;
  padding: 10px 50px;
  border: 5px solid lightgreen;
  margin: 10px 0px;
  height: 100%;
  border-radius: 6px;
}

.education-image {
  height: 250px;
}

.education-title {

}

#makeschool {
  color: #188EBD;
}
#maryland {
  color: #D10010;
}

.education-slogan {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

#tabs-3 {
  background-color: orange;
  height: 100%;
}

.family-table {
  display: table;
  height: 100%;
}

.family-column {
  display: column;
  text-align: center;
  background-color: white;
  padding: 10px 50px;
  border: 5px solid orange;
  margin: 10px 0px;
  height: 100%;
  border-radius: 6px;
}

.family-image {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  border-radius: 100px;
  margin-top: 20px;
  align: middle;
}

.family-name {
  color: black;
}

.family-title {
  color: gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.family-more {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.family-more:hover {
  color: #2c87c4;
}
